{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard{% endblock %}

{% block main %}
  <div class="content-panel">
    <div class="content-panel-body">
      <p class="mb-0">Bienvenue dans l'admin.</p>
    </div>
  </div>
{% endblock %}
